<!DOCTYPE html>
<html>
<head>
    <title>成绩分析系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="main-wrapper">
    <!--页头开始-->
    <header>
        <div class="toolbar">
            <img class="showSlideBar" src="../static/img/目录.png">
            <span class="title">成绩数据统计分析系统</span>
        </div>
    </header>
    <!--页头结束-->

    <!--内容开始-->
    <div class="content">
        {% block content %}
        <form class="form-inline" method="post" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <p>请选择成绩excel文件：</p>
            <div class="form-group">
                <input type="file" name="excel" id="inputfile">
            </div>
            <button type="submit" name="submit" class="btn btn-default">上传</button>
        </form>
        {% if res %}
            <div class="suc-info">
                <img src="../static/img/成功.png">
                <p>上传成功~</p>
            </div>
        {% endif %}

        <p>{{test}}</p>
        {% endblock %}
    </div>
    <!--内容结束-->

</div>

<!--侧边导航栏-->
<div class="slideBar">
    <!--<div class="toolbar-left">MENU</div>-->
    <ul>
        <li><a href="{% url 'scoreSubmit:scoreSubmit' %}">成绩上传</a></li>
        <li><a href="{% url 'scoreQuery:scoreQuery' %}">成绩查询</a></li>
        <li><a href="{% url 'knowledgePoint:knowledgePoint' %}">知识点输入</a></li>
        <li><a href="{% url 'scoreAna:scoreAna' %}">成绩统计数据</a></li>
        <li><a href="{% url 'scoreCharts:scoreCharts' %}">成绩分析图</a></li>
    </ul>
</div>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>
