{% extends "index.html" %}
    {% block content %}
    <div class="search-group">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#input" data-toggle="tab">输入知识点</a></li>
                <li><a href="#view" data-toggle="tab">查看知识点</a></li>
            </ul>

            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active col-md-6" id="input">
                    <form class="bs-example bs-example-form" role="form">
                        {% csrf_token %}
                        <div class="input-group ">
                            <span class="input-group-addon ">知识点</span>
                            <input type="text" class="form-control" placeholder="请输入知识点...">
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon">题&nbsp;&nbsp;&nbsp;&nbsp;号</span>
                            <input type="text" class="form-control" placeholder="请输入对应题号，用英文逗号分隔...">
                        </div><br>
                        <div>
                            <button type="button" class="btn btn-primary left">确认提交</button>
                            <button type="button" class="btn btn-warning right">重新填写</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="view">
                    <form class="bs-example bs-example-form" role="form">
                        {% csrf_token %}
                        <div >
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入题号或知识点...">
                                <span class="input-group-btn">
						            <button class="btn btn-default" type="button">查&nbsp;询</button>
					            </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-lg-6 -->
                    </form>
                </div>
            </div>

        </div>
    {% endblock %}
