<!DOCTYPE html>
<html>
<head>
    <title>成绩分析系统</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="main-wrapper">
    <!--页头开始-->
    <header>
        <div class="toolbar">
            <img class="showSlideBar" src="../static/img/目录.png">
            <span class="title">成绩数据统计分析系统</span>
        </div>
    </header>
    <!--页头结束-->

    <!--内容开始-->
    <div class="content">

    </div>
    <!--内容结束-->

</div>

<!--侧边导航栏-->
<div class="slideBar">
    <!--<div class="toolbar-left">MENU</div>-->
    <ul>
        <li><a href="index.html">成绩上传</a></li>
        <li><a href="scoreQuery.html">成绩查询</a></li>
        <li><a href="knowledgePoint.html">知识点输入</a></li>
        <li><a href="#">成绩分析</a></li>
    </ul>
</div>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../static/js/main.js"></script>
</body>
</html>
